@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #111;
}

h2, ol {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.contents {
  position: relative;
  background-color: #a43409;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.15) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.2) 50%, transparent 50%);
  background-size: 20px, 30px, 40px, 50px;
}

.contentshead {
  position: absolute;
  top: 3.25em;
  background-color: rgba(86, 158, 217, 0.6);
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
  border-right: 2px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.25em 2em;
  transform: rotate(-6deg);
}
.contentshead--ttl {
  padding-left: 20px;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 1px 1px 0 #fff;
}
.contentshead--ttl:first-letter {
  margin-right: .1em;
  font-size: 1.7em;
}

.contentsbody {
  margin: 0 auto;
  padding-top: 300px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70vw;
  background-color: #fff;
}

.imgpanel, .imgpanel-nonborder {
  padding: 10px;
  display: flex;
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Android4.3以下、Safari3.1〜6.0 */
  display: -webkit-flex;
  /* Safari6.1以降 */
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  border: solid 1px;
}
.imgpanel-nonborder {
  border: 0;
}
.imgpanel--item {
  width: 49%;
}
.imgpanel--item:nth-of-type(2) {
  display: flex;
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Android4.3以下、Safari3.1〜6.0 */
  display: -webkit-flex;
  /* Safari6.1以降 */
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.imgpanel--item-note {
  width: 49%;
  background-image: linear-gradient(rgba(150, 150, 150, 0.4) 0.1em, transparent 0.1em);
  background-size: auto 2rem;
  line-height: 2rem;
}
.imgpanel--sec {
  display: inline;
  background: linear-gradient(transparent 70%, #ffdfbd 0%);
  padding: 0 2px 0;
}
.imgpanel--sec:before {
  content: "?";
}
.imgpanel--note {
  padding-top: 2em;
  padding-bottom: 2em;
}
.imgpanel--img {
  width: 100%;
  height: auto;
}

.notewrapper {
  margin-top: 40px;
  background-image: linear-gradient(rgba(150, 150, 150, 0.4) 0.1em, transparent 0.1em);
  background-size: auto 2rem;
  line-height: 2rem;
}
.notewrapper--text:not(:first-child) {
  padding-top: 14px;
}
.notewrapper--block {
  padding-top: 14px;
  position: relative;
  padding: 0 15px 0 50px;
  box-sizing: border-box;
  font-style: italic;
  border: solid 2px #464646;
  color: #464646;
}
.notewrapper--block:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  vertical-align: middle;
  content: "“";
  font-family: sans-serif;
  color: #77c0c9;
  font-size: 90px;
  line-height: 1;
}
.notewrapper--blockText {
  padding: 0;
  margin: 10px 0;
}
