//フレックスコンテナの実装
@mixin flexContainer {
	display: flex;
	display: -ms-flexbox; /* IE10 */
	display: -webkit-box; /* Android4.3以下、Safari3.1〜6.0 */
	display: -webkit-flex; /* Safari6.1以降 */
}

//フレックスアイテムの中央寄せ
@mixin flexCenter{
	justify-content: center;
	align-items: center;
}

//ノート風罫線
@mixin notestyle($size: 2rem, $color: rgba(150,150,150,.4)){
	background-image: linear-gradient( $color .1em, transparent .1em );
	background-size: auto $size;
	line-height: $size;
}

//-webkit系デフォルトパディングの削除
@mixin webkitMarginClear{
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	color: #111;
}

h2,ol,blockquote {
	@include webkitMarginClear;
}

.contents {
	position: relative;
	background-color: #a43409;
	background-image: linear-gradient(90deg, rgba(255,255,255,.05) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.1) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.15) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.2) 50%, transparent 50%);
	background-size: 20px, 30px, 40px, 50px;
	overflow: hidden;
}

.contentshead {
	position: absolute;
	top: 3.25em;
	background-color: rgba(86, 158, 217,.6);
	border-left:2px dotted rgba(0,0,0,.1);
	border-right:2px dotted rgba(0,0,0,.1);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	padding: 0.25em 2em;
	transform: rotate(-6deg);
	&--ttl {
		padding-left: 20px;
		text-align: center;
		font-size: 2.5em;
		text-shadow: 1px 1px 0 #fff;
	 	&:first-letter {
	 		margin-right: .1em;
	 		font-size: 1.7em;
	 	}
	}
}


.contentsbody {
	margin: 50px auto;
	padding: {
		top: 300px;
		left: 20px;
		right: 20px;
		bottom: 50px;
	}
	width: 70vw;
	background-color: #fff;
}

.imgpanel {
	padding: 10px;
	@include flexContainer;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: space-between;
	border: solid 1px;
	&-nonborder {
		@extend .imgpanel;
		border: 0;
	}
	&--item{
		width: 49%;
		&:nth-of-type(2) {
			@include flexContainer;
			flex-direction: row-reverse;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
		&-note {
			width: 49%;
			@include notestyle;
		}
		
	}
	&--sec {
		display: inline;
		background: linear-gradient(transparent 70%, #ffdfbd 0%);
	  	padding: 0 2px 0;
		&:before {
			content:"?";
		}
	}
	&--note {
		padding:{
			top: 2em;
			bottom: 2em;
		}
	}
	&--img {
		width: 100%;
		height: auto;
	}
}

.notewrapper {
	margin-top: 40px;
	@include notestyle;
  	&--text:not(:first-child) {
  		padding-top: 14px;
  	}
  	&--block {
			position: relative;
			padding: 1px 15px 0 50px;
			font-style: italic;
			color: #464646;
			&:before {
				display: inline-block;
				position: absolute;
				top: -15px;
				left: -60px;
				vertical-align: middle;
				content: "“";
				font-family: monospace;
				color: #77c0c9;
				font-size: 90px;
				line-height: 1;
			}
  	}
  	&--blockText {
  		@include webkitMarginClear;
    	margin-top: 11px;
  	}
}

